:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  font-size: min(0.9rem);
  --box-shadow: min(0.5rem) min(0.5rem) 0 rgb(0, 0, 0)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
a:active, a:hover {
  color: var(--yellow);
  cursor: pointer;
}
html {
  background-color: var(--yellow);
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--gray-950);
  font-size: min(1.5rem);
  margin: 0 0 min(1rem) 0;
}
p {
  color: var(--gray-500);
  line-height: min(1rem);
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: min(0.3rem);
}
.author img {
  height: min(2rem);
}
.arg {
  margin-bottom: min(1rem);
}
.av {
  margin-inline-end: min(0.5rem);
}
.avk {
  color: var(--gray-500);
  font-weight: 400;
  line-height: 1.5;
}
.avw {
  color: var(--gray-950);
  font-weight: 500;
}
.bold {
  font-weight: 800;
}
.card {
  background-color: var(--white);
  width: min(23.4375rem);
  border-radius: 1.5rem;
  overflow: hidden;
  margin: auto;
  padding: min(1.2rem);
  border: 1px solid var(--gray-950);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}
.ill {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: min(1rem);
}
.highlight {
  color: var(--gray-950);
  background-color: var(--yellow);
  border-radius: 0.2rem;
  padding: min(0.5rem) min(1rem);
  width: fit-content;
}

@media (min-width: 25.001rem) {
  :root {
    font-size: min(1rem);
  }
}